.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.subtitle {
  color: var(--btn-color);
}

.title {
  font-size: 54px;
}

.description {
  font-size: 24px;
  font-weight: 300;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box h5 {
  font-size: 32px;
  color: var(--btn-color);
}

.imgContainer {
  flex: 1;
  position: relative;
}
