.container {
  display: flex;
  flex-direction: column;
  background-color: var(--bgSoft);
  flex: 1 0 300px;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.postImageContainer {
  position: relative;
  height: 300px;
}

.postImage {
  object-fit: cover;
}

.postInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  padding-block-start: 15px;
  flex-grow: 1;
}

.title {
  font-size: 24px;
  line-height: 28px;
  max-height: 56px;
  overflow: hidden;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  height: 28px;
  bottom: 0;
  right: 0;
  width: 75%;
  background: linear-gradient(90deg, transparent, var(--bgSoft));
}

.desc {
  font-weight: 300;
  color: #d0d0d0;
  line-height: 20px;
  max-height: 80px;
  position: relative;
  overflow: hidden;
}

.desc::after {
  content: "";
  position: absolute;
  height: 20px;
  bottom: 0;
  right: 0;
  width: 75%;
  background: linear-gradient(90deg, transparent, var(--bgSoft));
}

.extraInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d0d0d0;
  padding-block-start: 8px;
  margin-block-start: auto;
}
