.container {
  display: flex;
  gap: 100px;
}

.postImgContainer {
  flex: 1;
  position: relative;
  height: calc(100vh - 200px);
}

.postImg {
  object-fit: cover;
}

.postInfoContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 38px;
}

.details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoLabel {
  color: gray;
  font-weight: bold;
}

.infoValue {
  font-weight: 500;
}

.content {
  font-size: 20px;
}

@media (max-width: 768px) {
  .postImgContainer {
    display: none;
  }
  .title {
    font-size: 30px;
  }
  .content {
    font-size: 16px;
  }
}
