:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text-color: #ffffff;
  --text-colorSoft: #e5e5e5;
  --btn-color: #3673fd;
  --bg-gradient: linear-gradient(
    to bottom,
    #0d0c22,
    #0e0f2c,
    #0c1237,
    #0c1442,
    #0c154d
  );

  --navbar-height: 100px;
  --mobile-navbar-width: 250px;

  --xxl: 1536px;
  --xl: 1200px;
  --lg: 992px;
  --md: 768px;
  --sm: 600px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text-color);
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.container {
  max-width: var(--xxl);
  width: 100%;
  margin: auto;
  padding-inline: 50px;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-inline: 20px;
  }
}
