.container {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
}
