.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: gray;
}

.footerLogo {
  font-weight: bold;
}

.footerText {
  font-size: 12px;
}
