.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: gray;
}

.footerLogo {
  font-weight: bold;
}

.footerText {
  font-size: 12px;
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-block-start: 50px;
  }
}
